@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Empleados</h1>
    <p class="lead">Busqueda de empleados por Id, para calcular el salario anual</p>
    <input type="text" id="id" name="id" value="Ingrese el ID">
    <br>
    <br>
    <input class="btn btn-primary btn-lg" type="submit" value="Buscar">
</div>